html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  align-items: center;
}

table,
th,
td {
  border: 2px solid black;
}

table {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 5;
  background-color: #fff1d4;
}

th {
  font-size: 20px;
  background-color: #8c7b6c;
  height: 50;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #b39e70;
}

td {
  font-size: 15px;
  height: 25;
}

input[type="text"],
input[type="tel"],
select {
  width: 30%;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #010d00d9;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.navigation {
  background-color: #bfada3;
  width: 100%;
  height: 80px;
  text-align: right;
  text-justify: auto;
}

.button {
  background-color: #010d00d9;
  border: none;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 16px;
}

.header {
  text-align: center;
  color: #590202;
  text-decoration: underline;
}

.option {
  position: relative;
  display: inline-block;
}

.option-btn {
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.option-list {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
}

.option-list a {
  color: black;
  padding: 10px 10px;
  display: block;
}

.option-list a:hover {
  background-color: #815800;
}

.option:hover .option-list {
  display: block;
}

.option:hover .option-btn {
  background-color: #815800;
}

.option a {
  color: black;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  background-color: #ffffff;
}

.option a:hover {
  background-color: #815800;
}

#thead-name #thead-grade {
  text-decoration: none;
}

/* DARK MODE */

.dark {
  background-color: #0a100d;
  align-items: center;
}

.dark .navigation {
  background-color: #494850;
  width: 100%;
  height: 80px;
}

.dark .button {
  background-color: #fff;
  border: none;
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  margin: 0 auto;
}

.dark .header {
  text-align: center;
  color: #edf7f6;
  text-decoration: underline;
}

.dark #thead-name #thead-grade {
  text-decoration: none;
}

.more-btn {
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  text-decoration: none;
}

.more-btn:hover {
  background-color: #815800;
}